[submodule "buildroot"]
	path = buildroot
	url = https://github.com/ld3003/v3ssdk-buildroot.git
	branch = master
[submodule "linux-3.4"]
	path = linux-3.4
	url = https://github.com/ld3003/v3ssdk-linux-3.4.git
	branch = master
[submodule "app"]
	path = app
	url = https://github.com/ld3003/v3ssdk-app.git
