[submodule "linux-3.4"]
	path = linux-3.4
	url = https://github.com/ld3003/fuckpi_one_linux-3.4.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/ld3003/fuckpi_one_buildroot.git
	branch = master
